* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #fff;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px 24px;
}

li {
  margin-bottom: 50px;
}
